.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: var(--space-2) var(--space);

  @media (max-width: 767px) {
    padding: var(--space) var(--space);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
