.section {
  position: relative;
  z-index: 10;
  margin-top: var(--space-6);

  @media (max-width: 767px) {
    margin-top: var(--space-3);
  }
}

.row {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.title {
  width: 100%;
  max-width: 420px;
  padding: 0 var(--space);
  flex-shrink: 0;

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.content {
  width: 100%;
  max-width: 420px;
  margin-top: var(--space-4);
  padding: 0 var(--space);

  @media (max-width: 767px) {
    margin: var(--space) auto 0;
  }
}

.offset {
  width: 100%;
  max-width: 767px;
  margin-left: auto;
  margin-top: calc(var(--space-3) * -1);
  padding: 0 var(--space);

  @media (max-width: 767px) {
    margin-top: var(--space-2);
  }
}

.video {
  z-index: -1;
  padding: 56.25% 0 0 0;
  position: relative;
  filter: brightness(1.2) saturate(0.8);

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
