.section {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
