.section {
  position: relative;
  z-index: 10;
  margin: var(--space-4) 0;

  @media (max-width: 767px) {
    margin-top: var(--space-3);
  }
}

.row {
  display: flex;
  justify-content: space-between;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.content {
  width: 100%;
  max-width: 420px;
  flex-shrink: 0;
  margin-top: var(--space-4);
  margin-left: var(--space-2);
  padding: 0 var(--space);

  @media (max-width: 992px) {
    margin-left: 0;
  }

  @media (max-width: 767px) {
    margin: var(--space-3) auto 0;
  }
}

.offset {
  width: 100%;
  padding: 0 var(--space);
}

.video {
  z-index: -1;
  padding: 56.25% 0 0 0;
  position: relative;
  filter: brightness(1.2) saturate(0.8);

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
