.section {
  position: relative;
  height: 100vh;
  min-height: 600px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  overflow: hidden;
}

.link {
  position: relative;
  width: 600px;
  height: 600px;
  outline: 0;
  transition: var(--animation-duration) box-shadow;

  &:focus-visible {
    box-shadow: var(--shadow-outline), var(--shadow-glow);
  }
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;

  & video {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
