@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #ebebf0;
  color: #080c16;
}

html,
body {
  background-color: #080c16;
  color: #bdbfd3;
  font-family: Inter, -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, sans-serif;
}
